/* 
sm    @media all and (min-width: 640px)
md    @media all and (min-width: 768px)
lg    @media all and (min-width: 1024px)
xl    @media all and (min-width: 1280px)
xxl   @media all and (min-width: 1536px)
*/


/* -------------- Header -------------- */
@media all and (min-width: 640px) {
  .header-nav,
  .header-button{
    display: none;
  }
}
@media all and (min-width: 1280px) {
  .header-nav,
  .header-button{
    display: block;
  }
  .menu-icon{
    display: none;
  }
}
/* -------------- HOME -------------- */
/* -------------- LATEST ARTICLES -------------- */
/* -------------- AUTHORS -------------- */
/* -------------- COMMUNITY -------------- */
/* -------------- Footer -------------- */