/* Small Mobile */
@media (min-width: 320px) {
  .container {
    width: 95%;
  }
  /* -------------- Header -------------- */
  /* logo */
  header .container .logo a {
    font-size: 22px;
  }
  /* nav */
  .header-nav ul,
  .header-button {
    display: none;
  }
  /* menu-icon */
  .menu-icon {
    padding: 4px;
    display: block;
  }
  /* menu-slider */
  .slider {
    width: 260px;
  }
  .slider .head span {
    font-size: 18px;
  }
  .slider .head .close-icon {
    padding: 4px;
  }
  .slider-nav ul li a {
    font-size: 16px;
  }
  .slider-button {
    width: 95%;
    font-size: 16px;
    padding-block: 8px;
  }

  /* -------------- HOME -------------- */
  /* shapes in background */
  .home .bg-shapes .shape:nth-child(1) {
    left: 5px;
  }
  .home .bg-shapes .shape:nth-child(2) {
    left: 140px;
    bottom: 40px;
  }
  .home .bg-shapes .shape:nth-child(3) {
    right: 40px;
  }
  /* container */
  .home .container {
    display: block;
  }
  /* home-content */
  .home-content {
    width: 100%;
    margin-bottom: 50px;
  }
  .home-content span.border-1 {
    font-size: 12px;
    padding: 8px 14px;
  }
  /* title */
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  /* paragraph */
  .home-content p {
    font-size: 18px;
  }
  /* home-btn */
  .home-btn button {
    padding-block: 12px;
    font-size: 16px;
  }
  /* home-image */
  .home-image span {
    top: -10px;
    right: -10px;
    font-size: 12px;
  }
  .home-image {
    width: 95%;
  }
  .home-image .image {
    height: 300px;
    transform: rotate(2deg);
  }
}

/* Medium Mobile */
@media (min-width: 480px) {
  .container {
    width: 90%;
  }
  /* -------------- Header -------------- */
  /* logo */
  header .container .logo a {
    font-size: 30px;
  }
  /* menu-icon */
  .menu-icon {
    padding: 8px;
  }
  /* menu-slider */
  .slider {
    width: 320px;
  }
  .slider .head span {
    font-size: 24px;
  }
  .slider .head .close-icon {
    padding: 8px;
  }
  .slider-nav ul li a {
    font-size: 20px;
  }
  .slider-button {
    width: 100%;
    font-size: 18px;
    padding-block: 12px;
  }

  /* -------------- HOME -------------- */
  /* home-content */
  .home-content span.border-1 {
    font-size: 14px;
    padding: 12px 16px;
  }
  /* title */
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  /* paragraph */
  .home-content p {
    font-size: 24px;
  }
  /* home-btn */
  .home-btn button {
    padding-block: 16px;
    font-size: 20px;
  }
  /* home-image */
  .home-image span {
    right: -15px;
    font-size: 16px;
  }
  .home-image {
    width: 100%;
  }
  .home-image .image {
    height: 400px;
    transform: rotate(3deg);
  }
}

/* Large Mobile */
@media (min-width: 768px) {
  /* -------------- HOME -------------- */
  /* title */
  h1 {
    font-size: 72px;
    line-height: 90px;
  }
}

/* Tablet */
@media (min-width: 1024px) {
  .container {
    width: 95%;
  }
  /* -------------- HOME -------------- */
  /* shapes in background */
  .home .bg-shapes .shape:nth-child(1) {
    left: 50px;
    top: 60px;
  }
  .home .bg-shapes .shape:nth-child(2) {
    left: 650px;
    bottom: 60px;
  }
  .home .bg-shapes .shape:nth-child(3) {
    right: 100px;
    top: 150px;
  }
  /* container */
  .home .container {
    display: flex;
  }
  /* home-content */
  .home-content,
  .home-image {
    position: relative;
    width: 47%;
  }
  /* title */
  h1 {
    font-size: 65px;
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .container {
    width: 90%;
  }
  /* ---------- Header ---------- */
  /* nav */
  .header-nav ul {
    display: flex;
  }
  .header-button {
    display: block;
  }
  /* menu-icon */
  .menu-icon {
    display: none;
  }
  /* -------------- HOME -------------- */
  /* home-content */
  .home-content,
  .home-image {
    position: relative;
    width: 45%;
  }
  /* title */
  h1 {
    font-size: 72px;
  }
}

/* Desktop */
@media (min-width: 1536px) {
  .container {
    width: 80%;
  }
}